@font-face {
  font-family: "Sono";
  src: url("../ttf/Sono Monospace.ttf");
}
@font-face {
  font-family: "Susa";
  src: url("../ttf/Susa.ttf");
}
* {
  all: unset;
  color: #FFFFFF;
  font-family: "Sono";
  font-size: 15px;
  pointer-events: none;
  scroll-margin-block-start: 50px;
  transition: all 0.25s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a, button {
  pointer-events: auto;
}
a:hover, button:hover {
  cursor: pointer;
}

body, html {
  background-attachment: fixed;
  background-color: #101010;
  background-image: url("../png/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
body > header, html > header {
  align-items: center;
  background-color: #101010;
  border-bottom: 1px solid rgb(128, 30, 192);
  box-shadow: 0px 0px 30px 0px rgba(128, 30, 192, 0.35);
  display: flex;
  height: 49px;
  justify-content: space-between;
  padding-inline: 50px;
  position: fixed;
  width: calc(100% - 100px);
}
body > header > h1, html > header > h1 {
  background-image: linear-gradient(-45deg, #F64F59 0%, #C471ED 50%, #12C2E9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body > header > div, html > header > div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
body > header > div > a, html > header > div > a {
  background-color: #151515;
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 10px;
}
body > header > div > a:hover, html > header > div > a:hover {
  filter: drop-shadow(0px 0px 5px var(--highlightColor));
}
body > content, html > content {
  display: flex;
  flex-direction: column;
}
body > content > div, html > content > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block: 25px;
  padding-inline: 150px;
}
body > content > div#about, html > content > div#about {
  background-color: transparent;
  height: calc(100vh - 50px);
  justify-content: center;
}
body > content > div#about > div, html > content > div#about > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
body > content > div#about > div > h2, html > content > div#about > div > h2 {
  width: 650px;
}
body > content > div#about > div > div, html > content > div#about > div > div {
  align-items: center;
  display: flex;
  gap: 15px;
}
body > content > div#about > div > div > a, html > content > div#about > div > div > a {
  align-items: center;
  background-color: #151515;
  border: 1px solid #252525;
  border-radius: 5px;
  display: flex;
  height: 18px;
  justify-content: center;
  padding: 10px;
  width: 18px;
}
body > content > div#about > div > div > a:hover, html > content > div#about > div > div > a:hover {
  filter: drop-shadow(0px 0px 5px var(--highlightColor));
}
body > content > div#about > div > div > a:hover > i, html > content > div#about > div > div > a:hover > i {
  color: var(--highlightColor);
}
body > content > div#expertise, html > content > div#expertise {
  background-color: #151515;
  border-block: 1px solid rgb(128, 30, 192);
  box-shadow: 0px 0px 30px 0px rgba(128, 30, 192, 0.35);
}
body > content > div#expertise > ul, html > content > div#expertise > ul {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 4fr);
}
body > content > div#expertise > ul > li, html > content > div#expertise > ul > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body > content > div#expertise > ul > li > h2, html > content > div#expertise > ul > li > h2 {
  align-items: center;
  display: flex;
  gap: 10px;
}
body > content > div#expertise > ul > li > h2 > i, html > content > div#expertise > ul > li > h2 > i {
  font-size: 20px;
}
body > content > div#projects > ul, html > content > div#projects > ul {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 2fr);
}
body > content > div#projects > ul > li, html > content > div#projects > ul > li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body > content > div#projects > ul > li > img, html > content > div#projects > ul > li > img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
body > content > div#projects > ul > li > div, html > content > div#projects > ul > li > div {
  background-color: #151515;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
body > footer, html > footer {
  align-items: center;
  background-color: #151515;
  border-top: 1px solid rgb(128, 30, 192);
  box-shadow: 0px 0px 30px 0px rgba(128, 30, 192, 0.35);
  display: flex;
  height: 19px;
  justify-content: center;
  padding-block: 25px;
}
body > footer > span > a:hover, html > footer > span > a:hover {
  cursor: default;
}
body > footer > span > a > i, html > footer > span > a > i {
  color: #FF0000;
  filter: drop-shadow(0px 0px 5px #FF0000);
}
body > button, html > button {
  align-items: center;
  background-color: #151515;
  border: 1px solid #252525;
  border-radius: 5px;
  bottom: 15px;
  display: none;
  height: 18px;
  justify-content: center;
  padding: 10px;
  position: fixed;
  right: 15px;
  width: 18px;
  z-index: 1;
}
body > button:hover, html > button:hover {
  filter: drop-shadow(0px 0px 5px #FFFFFF);
}

h1 {
  font-family: "Susa";
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

img {
  overflow: clip;
}

script {
  display: none;
}

title {
  display: none;
}