$primary: #101010;
$secondary: #151515;
$shadow: #252525;

@font-face {
	font-family: "Sono";
	src: url("../ttf/Sono Monospace.ttf");
}

@font-face {
	font-family: "Susa";
	src: url("../ttf/Susa.ttf");
}

* {
	all: unset;
	color: #FFFFFF;
	font-family: "Sono";
	font-size: 15px;
	pointer-events: none;
	scroll-margin-block-start: 50px;
	transition: all 0.25s ease-in-out;
	user-select: none;
}

a, button {
	&:hover { cursor: pointer; }

	pointer-events: auto;
}

body, html {
	& > header {
		& > h1 {
			&::before, &::after {
				content: "Zielak";
				padding-left: 50px;
				position: absolute;
			}

			&::before {
				animation: glitch 2.5s infinite alternate;
				left: 3px;
				text-shadow: -7.5px 0 #ED00F3;
			}

			&::after {
				animation: glitch 2.5s infinite alternate;
				left: -3px;
				text-shadow: 7.5px 0 #332999;
			}

			@keyframes glitch {
				@for $i from 0 through 15 {
					#{percentage($i * (1 / 15))} {
						clip: rect(#{random(150)}px, 350px, #{random(150)}px, 25px);
					}
				}
			}

			animation: flicker 1s infinite alternate;

			@keyframes flicker {
				0%, 17.5%, 22.5%, 25%, 52.5%, 55%, 100% { text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 15px #600080, 0px 0px 25px #600080, 0px 0px 30px #600080; }
				20%, 23.75%, 53.75% { text-shadow: none; }
			}
		}

		& > div {
			& > a {
				&:hover { filter: drop-shadow(0px 0px 5px var(--highlightColor)); }

				background-color: $secondary;
				border: 1px solid $shadow;
				border-radius: 5px;
				padding: 10px;
			}

			display: flex;
			flex-direction: row;
			gap: 15px;
		}

		align-items: center;
		background-color: $primary;
		border-bottom: 1px solid rgba(128, 30, 192, 1);
		box-shadow: 0px 0px 30px 0px rgba(128, 30, 192, 0.35);
		display: flex;
		height: 49px;
		justify-content: space-between;
		padding-inline: 50px;
		position: fixed;
		width: calc(100% - 100px);
	}

	& > content {
		& > div {
			&#about {
				& > ul {
					& > span {
						animation: wave 2.5s ease-in-out infinite;
						font-size: 35px;
						transform-origin: 70% 70%;
						z-index: -1;
					}

					@keyframes wave {
						0%, 70%, 100% { transform: rotate(0deg) }
						15% { transform: rotate(14deg) }
						30% { transform: rotate(-8deg) }
						40% { transform: rotate(14deg) }
						50% { transform: rotate(-4deg) }
						60% { transform: rotate(8deg) }
					}

					align-items: center;
					display: flex;
					flex-direction: column;
				}

				& > div {
					& > h2 {
						&::after {
							animation: blink 1s infinite alternate;
							content: "|";
						}

						@keyframes blink { 50% { color: transparent; } }

						text-align: center;
						width: 650px;
					}

					& > div {
						& > button {
							&:hover {
								& > i { color: var(--highlightColor); }

								filter: drop-shadow(0px 0px 5px var(--highlightColor));
							}

							align-items: center;
							background-color: $secondary;
							border: 1px solid $shadow;
							border-radius: 5px;
							display: flex;
							height: 18px;
							justify-content: center;
							padding: 10px;
							width: 18px;
						}

						& > a {
							&:hover {
								& > i { color: var(--highlightColor); }

								filter: drop-shadow(0px 0px 5px var(--highlightColor));
							}

							align-items: center;
							background-color: $secondary;
							border: 1px solid $shadow;
							border-radius: 5px;
							display: flex;
							height: 18px;
							justify-content: center;
							padding: 10px;
							width: 18px;
						}

						align-items: center;
						display: flex;
						gap: 15px;
					}

					align-items: center;
					display: flex;
					flex-direction: column;
					gap: 25px;
				}

				background-color: transparent;
				height: calc(100vh - 50px);
				justify-content: center;
			}

			&#expertise {
				& > ul {
					& > li {
						& > h2 {
							& > i { font-size: 20px; }

							align-items: center;
							display: flex;
							gap: 10px;
						}

						display: flex;
						flex-direction: column;
						gap: 10px;
					}

					display: grid;
					grid-gap: 50px;
					grid-template-columns: repeat(4, 4fr);
				}

				background-color: $secondary;
				border-block: 1px solid rgba(128, 30, 192, 1);
				box-shadow: 0px 0px 30px 0px rgba(128, 30, 192, 0.35);
			}

			&#projects > ul {
				& > li {
					& > img {
						border-radius: 5px;
						object-fit: cover;
						width: 100%;
					}

					& > div {
						background-color: $secondary;
						border-radius: 5px;
						display: flex;
						flex-direction: column;
						gap: 10px;
						padding: 10px;
					}

					display: flex;
					flex-direction: column;
					gap: 15px;
				}

				display: grid;
				grid-gap: 50px;
				grid-template-columns: repeat(2, 2fr);
			}

			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding-block: 25px;
			padding-inline: 150px;
		}

		display: flex;
		flex-direction: column;
	}

	& > footer {
		& > span > a {
			&:hover { cursor: default; }
			& > i {
				color: #FF0000;
				filter: drop-shadow(0px 0px 5px #FF0000);
			}
		}

		align-items: center;
		background-color: $secondary;
		border-top: 1px solid rgba(128, 30, 192, 1);
		box-shadow: 0px 0px 30px 0px rgba(128, 30, 192, 0.35);
		display: flex;
		height: 19px;
		justify-content: center;
		padding-block: 25px;
	}

	& > button {
		&#musicPlayPause {
			&:hover { filter: drop-shadow(0px 0px 5px #600080); }
			& > i { color: #600080; }

			bottom: 15px;
			display: flex;
			left: 15px;
		}

		&#backToTop {
			&:hover { filter: drop-shadow(0px 0px 5px #FFFFFF); }

			bottom: 15px;
			display: none;
			right: 15px;
		}

		align-items: center;
		background-color: $secondary;
		border: 1px solid $shadow;
		border-radius: 5px;
		height: 18px;
		justify-content: center;
		padding: 10px;
		position: fixed;
		width: 18px;
		z-index: 1;
	}

	background-attachment: fixed;
	background-color: $primary;
	background-image: url("../png/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	scroll-behavior: smooth;
}

h1 {
	font-family: "Susa";
	font-size: 25px;
}

h2 { font-size: 20px; }
img { overflow: clip; }
script { display: none; }
title { display: none; }