@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/Roboto Mono.ttf");
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

article {
    & > .links > a { font-size: 20px; }

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    background-color: #0e1212;
    color: #FFFFFF;
    font-family: "Roboto Mono";
    font-size: 15px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

footer {
    bottom: 0;
    color: #682ae9;
    display: flex;
	justify-content: center;
    padding: 10px;
    position: fixed;
    width: calc(100% - 20px);
}

header {
    & > div {
        display: flex;
        gap: 10px;
    }

    color: #682ae9;
    display: flex;
	justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
}